@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Trade Gothic LT Std';
  src: url('/fonts/TradeGothicLTStd-Bd2.woff2') format('woff2'),
      url('/fonts/TradeGothicLTStd-Bd2.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trade Gothic LT Std';
  src: url('/fonts/TradeGothicLTStd-Bd2Obl.woff2') format('woff2'),
      url('/fonts/TradeGothicLTStd-Bd2Obl.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Trade Gothic LT Std Cn';
  src: url('/fonts/TradeGothicLTStd-BdCn20.woff2') format('woff2'),
      url('/fonts/TradeGothicLTStd-BdCn20.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trade Gothic LT Std Cn';
  src: url('/fonts/TradeGothicLTStd-BdCn20Obl.woff2') format('woff2'),
      url('/fonts/TradeGothicLTStd-BdCn20Obl.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Trade Gothic LT Std';
  src: url('/fonts/TradeGothicLTStd-Bold.woff2') format('woff2'),
      url('/fonts/TradeGothicLTStd-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trade Gothic LT Std';
  src: url('/fonts/TradeGothicLTStd-BoldObl.woff2') format('woff2'),
      url('/fonts/TradeGothicLTStd-BoldObl.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Trade Gothic LT Std Cn';
  src: url('/fonts/TradeGothicLTStd-Cn18.woff2') format('woff2'),
      url('/fonts/TradeGothicLTStd-Cn18.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trade Gothic LT Std Extended';
  src: url('/fonts/TradeGothicLTStd-BoldExt.woff2') format('woff2'),
      url('/fonts/TradeGothicLTStd-BoldExt.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trade Gothic LT Std Extended';
  src: url('/fonts/TradeGothicLTStd-Extended.woff2') format('woff2'),
      url('/fonts/TradeGothicLTStd-Extended.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trade Gothic LT Std Cn';
  src: url('/fonts/TradeGothicLTStd-Cn18Obl.woff2') format('woff2'),
      url('/fonts/TradeGothicLTStd-Cn18Obl.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Trade Gothic LT Std';
  src: url('/fonts/TradeGothicLTStd-Light.woff2') format('woff2'),
      url('/fonts/TradeGothicLTStd-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trade Gothic LT Std';
  src: url('/fonts/TradeGothicLTStd-LightObl.woff2') format('woff2'),
      url('/fonts/TradeGothicLTStd-LightObl.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Trade Gothic LT Std';
  src: url('/fonts/TradeGothicLTStd-Obl.woff2') format('woff2'),
      url('/fonts/TradeGothicLTStd-Obl.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Trade Gothic LT Std';
  src: url('/fonts/TradeGothicLTStd.woff2') format('woff2'),
      url('/fonts/TradeGothicLTStd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-reg {
  font-family: 'Trade Gothic LT Std';
  font-weight: normal;
}

.font-ext {
  font-family: 'Trade Gothic LT Std Extended';
  font-weight: normal;
}

.font-bold-ext {
  font-family: 'Trade Gothic LT Std Extended';
  font-weight: bold;
}

.font-bold2 {
  font-family: 'Trade Gothic LT Std';
  font-weight: bold;
}

:root {
  --primary-color: #007a33;
  --secondary-color: #000;
}

#root {
  width: 100vw;
  height: 100vh;
  font-family: 'Trade Gothic LT Std';
  font-weight: normal;
  color: #4D4D4F
}

h1 {
  font-family: 'Trade Gothic LT Std Extended';
  font-weight: bold;
}

h2 {
  font-family: 'Trade Gothic LT Std';
  font-weight: bold;
}

.filter-green {
  filter: brightness(0) saturate(100%) invert(15%) sepia(90%) saturate(6307%) hue-rotate(156deg) brightness(95%) contrast(101%);
}

.section4-2-img:before {
  background: url("/images/section4-2-img3.png");
}

@layer utilities {
  .bottom-mask::before {
    content: '';
    @apply bg-gradient-to-t from-black/70 to-transparent absolute bottom-0 left-0 w-screen h-[400px];
  }

  .border-bottom-right-cut:before {
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 90% 100%, 0% 100%);
    content: '';
    z-index: 1;
    @apply w-full h-full absolute top-0 left-0;
  }

  .border-bottom-right-cut2:before {
    clip-path: polygon(0% 0%, 100% 0%, 100% 89%, 93% 100%, 0% 100%);
    content: '';
    z-index: 1;
    @apply w-full h-full absolute top-0 left-0;
  }


  .border-bottom-right-cut-sm:before {
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 93% 100%, 0% 100%);
    content: '';
    z-index: 1;
    @apply w-full h-full absolute top-0 left-0;
  }
}